<!doctype html>
<html lang="en" ng-app="embedlyModule">
<head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
    <script src="controllers/embedCtrl.js"></script>
    <script src="directives/em-embed.js"></script>
    <script src="services/embedlyService.js"></script>
</head>
<body>
    <div ng-controller="embedCtrl">
        <input type="text" ng-model="urlToSearch">
        <button ng-click="buttonClicked.checkInputUrl()">search url</button>
        <em-embed urlsearch="{{urlToSearch}}"></em-embed>
    </div>
</body>
</html>